extends layout.pug

block cssLinks
  link(rel="stylesheet", href="/css/styles.css")

block mainContent
  main.mdl-layout__content
    .mdl-grid.portfolio-max-width
      .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
        .mdl-card__title
          h2.mdl-card__title-text Uses
        .mdl-card__media
          img.article-image(src="/res/about-banner.png", border="0", alt="Interesting banner photo goes here")
        .mdl-card__supporting-text
          strong Your media
          span  Where you want it
        .mdl-grid.portfolio-copy
          h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Why use PathGrab?
          .mdl-cell.mdl-cell--6-col.mdl-card__supporting-text.no-padding
            ul
              li Promoting live events
              li Documenting life
              li Vlogging
              li Teaching and learning
          .mdl-cell.mdl-cell--6-col
            img.article-image(src="/res/about-intro-filler.png", border="0", alt="")
        .mdl-grid.portfolio-copy
          h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Case Studies:
          h8.mdl-cell.mdl-cell--12-col.mdl-typography--headline(style="font-size: 16px") Forth Grade Scavenger Hunt
          .mdl-cell.mdl-cell--12-col.mdl-card__supporting-text.no-padding
            p.
              This is a digital curricula application of pathgrab.com. In this example we outline a use case for Pathgrab that demonstrates how its functionality can be used to facilitate a teaching/learning situation. In this use case the application provides a framework to identify flora in a natural setting. During a field trip to a local park, each fourth grade student is given a list of local flora and told to locate as many as possible from the list. When each unique species is found the teams of students students have been instructed to record short explanations, using photos, videos and audio of the species in its habitat. As these video clips are created, they are added to a playlist the student is creating in tandem with other students. This is promoted ahead of time by creating a map that explains the rules of the game, explains where the game is to take place, and gives directions to the event. During the scavenger hunt, the progress is tracked in real time as each clip is created in the field and uploaded to its GPS location on the map. After the event, the map can be referenced in social media to provide an interactive multimedia presentation that can be shared on social media.
    footer.mdl-mini-footer
      .mdl-mini-footer__left-section
        ul.mdl-mini-footer__link-list
          li: a(href="/").mdl-logo PathGrab
      .mdl-mini-footer__right-section
        ul.mdl-mini-footer__link-list
          li: a(href="/about") About
          li: a(href="/about/uses") Uses
          li: a(href="#") Help
          li: a(href="#") Privacy &amp; Terms
