extends layout.pug

block cssLinks
  link(rel="stylesheet", href="/css/map-icons.css")
  link(rel="stylesheet", href="/css/spectrum.css")
  link(rel="stylesheet", href="/css/better-autocomplete.css")

block navBar
  if user
    a.mdl-navigation__link(onClick="sound.request()")
      i.material-icons mic
    a.mdl-navigation__link(onClick="video.request()")
      i.material-icons videocam
    a.mdl-navigation__link(href="user") #{user.username}
  else
    a.mdl-navigation__link(href="login") Login
    a.mdl-navigation__link(href="register") Register

  #search-bar-container
    .mdl-textfield.mdl-textfield--floating-label
      input#search-bar.mdl-textfield__input(type="text", name="search-bar", placeholder="Search")

block navMenu
  if user
    a.mdl-navigation__link(onClick="sound.request()")
      i.material-icons mic
      |  Record Audio
    a.mdl-navigation__link(onClick="video.request()")
      i.material-icons  videocam
      |  Record Video
    a#add-region-button.mdl-navigation__link(onClick="regions.add()")
      i.material-icons group_work
      |  Add Region
    a.mdl-navigation__link(href="logout")
      i.material-icons exit_to_app
      |  Logout
  else
    a.mdl-navigation__link(href="login") login
    a.mdl-navigation__link(href="register") Register

block mainContent
  .map-container
    .right-panel
    #map

block jsLibs 
  
  
  // Keep this stuff in order!
  script(async src="/js/regions/activeRegion.js")
  script(async src="/js/regions/regionPanel.js")
  script(async src="/js/regions/regionPanelSettings.js")
  script(async src="/js/markerSequence.js")
  script(defer src="/js/markers.js")
  script(defer src="/js/ext/map-icons.js")
  script(defer src="/js/regions/regions.js")
  script(defer src="/map.js")
  script(id="google-maps",defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmAuADcJ-0QF2ShETkv-xcbuEXgIbfNnE&callback=initMap&libraries=drawing")
  script(defer src="/js/ext/oms.min.js")
  script(defer src="/js/ext/jquery.better-autocomplete.js")
  

  // This order doesn't matter
  script(async src="/js/ext/Sortable.min.js")
  script(async src="/js/ui/ui.js")
  script(async src="/js/ui/soundUi.js")
  script(async src="/js/ui/regionUi.js")
  script(async src="/js/ui/drawingUi.js")
  script(async src="/js/ui/videoUi.js")
  script(async src="/js/searchHandler.js")
  script(async src="/js/tagHandler.js")
  
  
  
  script(async src="/js/sound.js")
  script(async src="/js/video.js")
  

  // External js includes
  script(async src="/js/ext/ric-polyfill.js")
  
  script(async src="/js/ext/adapter.js")
  script(async src="https://cdn.WebRTC-Experiment.com/RecordRTC.js")
  script(defer src="/js/ext/spectrum.js")
