extends layout.pug

block cssLinks
  link(rel="stylesheet", href="css/audio.css")
  link(rel="stylesheet", href="css/map-icons.css")
  link(rel="stylesheet", href="css/spectrum.css")
  link(rel="stylesheet", href="css/better-autocomplete.css")

block navBar
  if user
    a.mdl-navigation__link(onClick="sound.request()")
      i.material-icons record_voice_over
      |  Record
    a.mdl-navigation__link #{user.username}
  else
    a.mdl-navigation__link(href="login") Login
    a.mdl-navigation__link(href="register") Register

  #search-bar-container
    .mdl-textfield.mdl-textfield--floating-label
      input#search-bar.mdl-textfield__input(type="text", name="search-bar", placeholder="Search")

block navMenu
  if user
    a.mdl-navigation__link(onClick="sound.request()")
      i.material-icons record_voice_over
      |  Record
    a#add-region-button.mdl-navigation__link(onClick="regions.add()") Add Region
    a.mdl-navigation__link(href="logout") Logout
  else
    a.mdl-navigation__link(href="login") login
    a.mdl-navigation__link(href="register") Register

  a.mdl-navigation__link(onClick="selfDestruct()") Self Destruct

block mainContent
  .map-container
    #region-panel-container.region-panel-container
    #map

    .mdl-snackbar.mdl-js-snackbar(aria-live="assertive", aria-atomic="true", aria-relevant="text")
      .mdl-snackbar__text
      button.mdl-snackbar__action(type="button")

block jsLibs
  script(src="js/ext/jquery.better-autocomplete.js")
  script(src="js/ext/Sortable.min.js")

  script(src="js/ui/ui.js")
  script(src="js/ui/soundUi.js")
  script(src="js/ui/regionUi.js")
  script(src="js/ui/drawingUi.js")
  script(src="js/searchHandler.js")
  script(src="js/tagHandler.js")
  script(src="js/markers.js")
  script(src="js/regions/regions.js")
  script(src="js/regions/activeRegion.js")
  script(src="js/regions/regionPanel.js")
  script(src="js/regions/regionPanelSettings.js")
  script(src="js/sound.js")
  script(src="map.js")
  script(src="js/markerSequence.js")

  // js Libraries
  script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmAuADcJ-0QF2ShETkv-xcbuEXgIbfNnE&callback=initMap&libraries=drawing")

  // External js includes
  script(src="js/ext/ric-polyfill.js")
  script(src="js/ext/oms.min.js")
  script(src="js/ext/adapter.js")
  script(src="js/ext/recorder.js")
  script(src="js/ext/map-icons.js")
  script(src="js/ext/spectrum.js")
