html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

.map-container {
	height: 100%;
	width: 100%;
	position: relative;
}

a {
	text-decoration: none;
}

#map {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.infowindow-button {
	margin-left: 4px;
}

.infowindow-button-container {
	position: absolute;
	display: inline-flex;
	right: 1px;
	bottom: 1px;

}

.clickable{
	cursor: pointer;
}

.drop-zone {
	color: #bbb;
	text-align: center;
	border: 2px dashed #bbb;
	border-radius: 5px;
	/*padding: 50px 20px;*/
	min-width: 10vw;
	min-height: 10vw;
	line-height: 10vw;
	overflow: hidden;
}

.mdl-card__title > .user-pic {
	color: #bbb;
	text-align: center;
	border-radius: 5px;
	min-width: 10vw;
	min-height: 10vw;
	line-height: 10vw;
	overflow: hidden;
	margin-right: 5px;
}

.user-pic {
	width: 64px;
	height: 64px;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
}

.user-page-card {
	min-height: 0 !important;
}

.flex-box {
	display: inline-flex;
	float: right;
	flex-direction: row-reverse;
	margin: 8px 15px;
}

.mdl-card__center {
	margin: auto;
}

.mdl-navigation__link {
	cursor: pointer;
}

span > .mdl-navigation__link:hover {
	background-color: #e0e0e0;
}

.login-background {
	background-image: url('http://netdna.webdesignerdepot.com/uploads/2013/11/featured3.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.pac-container {
    z-index: 1051 !important;
}

.radio-map-icon {
	font-size: 30px;
}

.right-panel {
	position: absolute;
	right: -100vw;
	top: 0;
	z-index: 1050;
	/*height: 100%; */
	max-height: 100%;
	background: #fafafa;
	border-left: 1px solid #e0e0e0;
	padding-bottom:0;
	/*min-width: 200px; */
	overflow-y: auto;
	overflow-x: hidden;
  max-width: 500px;
	transform-origin: bottom right;

	/* transition: all 500ms ease-in-out; */
}

.slide-in {
	animation: slideIn;
	animation-duration: 600ms;
	right: 0px;
}

@keyframes slideIn {
	from {
		right: -100vw;
		opacity: 0;
	}
	90% {
		right: 6px;
	}
	to {
		right: 0px;
		opacity: 1;
	}
}

@media screen and (max-width:500px) {
	.right-panel {
		top: 100vh;
		right: 0;
		left: 0;
	}

	.slide-in {
		animation: slideIn;
		animation-duration: 250ms;
		top: 75vh;
	}

	@keyframes slideIn {
		from {
			top: 100vh;
			opacity: 0;
		}
		80% {
			opacity: 1;
			top: 73vh;
		}
		to {
			top: 75vh;
			opacity: 1;
		}
	}

	.slide-in audio,
	.slide-in video {
		width: 100% !important;
	}

	.marker-content {
		max-width: 90vw;
	}
}

.tap-animation {
	position: absolute;
	width: 0px;
	height: 0px;
	background-color: rgb(63,81,181);
	/*pointer-events: none;*/
	z-index: 5;
	opacity: 0;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	animation-name: tapAnimation;
	animation-duration: 350ms;
}

@keyframes tapAnimation {
	from {
		width: 0px;
		height: 0px;
		opacity: 1;
	}
	to {
		width: 125px;
		height: 125px;
	}
}

video {
	max-height: 60vh;
}

.right-panel__title {
	font-size: 24px;
	line-height: 62px;
	padding-left: 15px;
}

.right-panel__button {
	margin: 5px;
	padding-left: 15px;
}

#add-domain-sound {
	margin: 8px;
}

#no-recordings {
	min-width: 300px;
	padding: 10%;
}

input.map-marker {
	visibility: hidden;
}

input.map-marker:checked + label {
	border-bottom: 3px solid lightgreen;
}

.accordian {
	font-family: Roboto;
	overflow: hidden;
	border: 1px solid lightgrey;
	margin: 8px 0 8px 0;
}

.accordian-content {
	border-top: 1px solid lightgrey;
	height: 0;

	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.accordian-content.open {
	height: auto;
}

.accordian-title, .accordian-expand {
	font-weight: 400;
	line-height: 36px;
	font-size: 20px;

	padding: 0 16px 0 24px;
}

.accordian-expand {
	float: right;
	color: black;
	padding: 0 24px 0 16px;
}

.drawing-manager-button {
	width: 28px;
	height: 27px;
}

.drawing-manager-button-container {
	direction: ltr;
	text-align: left;
	position: relative;
	color: rgb(86, 86, 86);
	font-family: Roboto, Arial, sans-serif;
	user-select: none;
	font-size: 11px;
	padding: 4px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-background-clip: padding-box;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	background-color: rgb(255, 255, 255);
	background-clip: padding-box;
}

.drawing-manager-button-container:hover {
	background-color: rgb(235, 235, 235);
}

#line-tool,
#done-drawing {
	overflow: initial !important;
}

#line-tool.help:after,
#line-tool:hover:after {
    content: 'Use this to draw a shape';
    position: absolute;
    top: 40px;
    left: -5px;
    font-size: medium;
    width: 180px;
    padding: 20px;
    color: white;
    background-color: rgb(63,81,181);
    border-radius: 10px;
		animation-name: fallopen;
		animation-duration: 250ms;
}

#line-tool.help:before,
#line-tool:hover:before {
    content: '';
    position: absolute;
    top: 30px;
		left: 6px;
    border-bottom: rgb(63,81,181) solid 10px;
    border-left: transparent solid 10px;
    border-right: transparent solid 10px;
}

#done-drawing.help:after,
#done-drawing:hover:after {
    content: 'When your shape is solid, finish here';
    position: absolute;
    top: 40px;
    left: -5px;
    font-size: medium;
    width: 260px;
    padding: 20px;
    color: white;
    background-color: rgb(63,81,181);
    border-radius: 10px;
		animation-name: fallopen;
		animation-duration: 250ms;
}

#done-drawing.help:before,
#done-drawing:hover:before {
    content: '';
    position: absolute;
    top: 30px;
		left: 6px;
    border-bottom: rgb(63,81,181) solid 10px;
    border-left: transparent solid 10px;
    border-right: transparent solid 10px;
}

@media (max-width: 700px) {
	#done-drawing.help:after,
	#done-drawing:hover:after {
		left: -130px;
	}
	#line-tool.help:after,
	#line-tool:hover:after {
		left: -90px;
	}
}

@media (max-width: 400px) {
	#done-drawing.help:after,
	#done-drawing:hover:after {
		left: -170px;
	}
}

@keyframes fallopen {
	from {
		opacity: 0;
		padding: 0px;
	}
	90% {
		padding: 22px;
	}
	to {

		opacity: 1;
		padding:20px;
	}
}

.region-panel__settings_button {
	float: right;
	right: 0px;
	font-size: xx-large;
	color: #757575;
	padding: 7px;
}

.admin-button {
	top: 87px;
	left: 65px;
	position: absolute;
	right: 0px;
	font-size: xx-large;
	color: #757575;
	padding: 7px;
}

#region-color > span {
	margin-right: 10px;
}

.marker-content > .user-pic {
	margin-top: 18px;
	margin-right: 5px;
	float:left;
}

.drag_handle {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.back-button {
	float: left;
	font-size: xx-large;
	color: #757575;
	padding: 7px;
	cursor: pointer;
}
