.mdl-card__center {
	margin: auto;
}

.login-background {
	background-image: url('http://netdna.webdesignerdepot.com/uploads/2013/11/featured3.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.pac-container {
    z-index: 1051 !important;
}

.radio-map-icon {
	font-size: 30px;
}

.right-panel {
	position: absolute;
	right: -450px;
	top: 0;
	z-index: 1050;
	height: 100%;
	background: #fafafa;
	border-left: 1px solid #e0e0e0;
	padding-bottom:0;
	min-width: 200px;
	
	
	transition-property: right;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.right-panel__title {
	font-size: 24px;
	line-height: 62px;
	padding-left: 15px;
}

#add-domain-sound {
	margin: 8px;
}

#no-recordings {
	min-width: 300px;
	padding: 10%;
}

.slide-in {
	right: 0;
}

input.map-marker {
	visibility: hidden;
}

input.map-marker:checked + label {
	border-bottom: 3px solid lightgreen;
}

.accordian {
	font-family: Roboto;
	overflow: hidden;
	border: 1px solid lightgrey;
	margin: 8px 0 8px 0;
}

.accordian-content {
	border-top: 1px solid lightgrey;
	height: 0;
	
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.accordian-content.open {
	height: auto;
}

.accordian-title, .accordian-expand {
	font-weight: 400;
	line-height: 36px;
	font-size: 20px;
	
	padding: 0 16px 0 24px;
}

.accordian-expand {
	float: right;
	color: black;
	padding: 0 24px 0 16px;
	
	
}








