<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="css/visualizer.css"/> -->
    <link rel="stylesheet" href="css/audio.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/mdl-jquery-modal-dialog.css">
    <link rel="stylesheet" href="css/baseStyle.css">
    <link rel="stylesheet" href="css/map-icons.css">
    <link rel="stylesheet" href="css/spectrum.css">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
    	<header class="mdl-layout__header">
    		<div class="mdl-layout-icon" ></div>
    		<div class="mdl-layout__header-row">
    			<span class="mdl-layout__title">GeoVoice</span>
    			<div class="mdl-layout-spacer"></div>
    			<nav class="mdl-navigation">
    			
    				<!-- Nav Buttons Toolbar -->
    				<a class="mdl-navigation__link" onClick="requestRecording()">
    					<i class="material-icons">record_voice_over</i>
    					Record
  					</a>
  					<a class="mdl-navigation__link" href="login">
  						Login
  					</a>
						{% if current_user.is_authenticated %}
							<a> {{ current_user.name }} </a>
						{% endif %}
    			</nav>
    		</div>
    	</header>
    	
    	<div id="layout-drawer" class="mdl-layout__drawer">
    		<span class="mdl-layout__title">GeoVoice</span>
    		<nav class="mdl-navigation">
    			<!-- Nav Buttons Menu -->
  				<a class="mdl-navigation__link" onClick="requestRecording()">
  					<i class="material-icons">record_voice_over</i>
  					Record
					</a>
					<a class="mdl-navigation__link" onClick="addDomain()">
						Add Domain
					</a>
					<a class="mdl-navigation__link" href="login">
						Login
					</a>
  			</nav>
    	</div>
    	<div id='bottom-sheet-insertion-point'></div>
    	
			<div id="map"></div>
			 
			<!-- Snackbar -->
			<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
				<div class="mdl-snackbar__text">
					<button type="button" class="mdl-snackbar__action"></button>
				</div>
			</div>
			
    </div>
		
		<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script defer src="js/soundInput.js"></script>
		<script defer src="js/soundOutput.js"></script>
		<script defer src="map.js"></script>
		<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmAuADcJ-0QF2ShETkv-xcbuEXgIbfNnE&callback=initMap&libraries=places"></script>
		<script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
		<script defer src="js/mdl-jquery-modal-dialog.js"></script>



		
		<script defer src="js/recorder.js"></script>
		<!-- <script src="js/visualizer.js"></script> -->
		<script defer src="js/bowser.min.js"></script>
		<script defer src="js/map-icons.js"></script>
		<script defer src="js/spectrum.js"></script>
		
		
  </body>
</html>
