<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/mdl-jquery-modal-dialog.css">
    <link rel="stylesheet" href="css/baseStyle.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout">
    	<header class="mdl-layout__header">
    		<div class="mdl-layout-icon" ></div>
    		<div class="mdl-layout__header-row">
    			<span class="mdl-layout__title">GeoVoice</span>
    			<div class="mdl-layout-spacer"></div>
    			<nav class="mdl-navigation">
    			
    				<!-- Nav Buttons Toolbar -->
  					<a class="mdl-navigation__link" href="javascript:history.back()">
  						Home
  					</a>
    			</nav>
    		</div>
    	</header>
    	
    	<div class="mdl-layout__drawer">
    		<span class="mdl-layout__title">GeoVoice</span>
    		<nav class="mdl-navigation">
    			<!-- Nav Buttons Menu -->
					<a class="mdl-navigation__link" href="javascript:history.back()">
						Home
					</a>
  			</nav>
    	</div>
    	
    	<main class="mdl-layout__content login-background">
    	
    	
		  	<!-- Actual Login Content -->
		  	<template id="signin-form-template">
					<div class="mdl-card mdl-shadow--2dp mdl-card__center">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">Sign in</h2>
						</div>
						<div class="mdl-card__supporting-text">
							<form action="#">
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="username">
									<label class="mdl-textfield__label" for="username">Email address</label>
								</div>
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="password" id="password">
									<label class="mdl-textfield__label" for="password">Password</label>
								</div>
							</form>
						</div>
						<div class="mdl-card__actions">
							<button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="register" onClick="switchToTemplate('#signup-form-template');">
								Register
							</button>

							<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" id="sign-in">
								Sign in
							</button>
						</div>
					</div>
		  	</template>
		  	
		  	<template id="signup-form-template">
					<div class="mdl-card mdl-shadow--2dp mdl-card__center">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">Sign up</h2>
						</div>
						<div class="mdl-card__supporting-text">
							<form action="#">
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" id="username" pattern="^([\w\.]*)@([\w\.]*)\.([\w]*)">
									<label class="mdl-textfield__label" for="username">Email address</label>
									<span class="mdl-textfield__error">Not a valid email address</span>
								</div>
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="password" id="password" pattern="(.){8}.*">
									<label class="mdl-textfield__label" for="password">Password</label>
									<span class="mdl-textfield__error">Must be at least 8 characters long</span>
								</div>
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="password" id="retype-password">
									<label class="mdl-textfield__label" for="retype-password">Retype password</label>
								
								</div>
							</form>
						</div>
						<div class="mdl-card__actions">
							<button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="cancel" onClick="switchToTemplate('#signin-form-template');">
								Cancel
							</button>

							<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" id="sign-up">
								Sign up
							</button>
						</div>
					</div>
		  	</template>
		  	
		  	<div id="card-area">
		  	</div>
		  	
    	</main>
			
			<!-- Snackbar -->
			<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
				<div class="mdl-snackbar__text">
				<button type="button" class="mdl-snackbar__action"></button>
			</div>
    </div>
    
		<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

		<script src="js/mdl-jquery-modal-dialog.js"></script>
		<script src="js/bowser.min.js"></script>
		<script src="js/login.js"></script>
		
		
  </body>
</html>
