$color-primary: #3f51b5;

#layout-drawer {
  .mdl-menu__outline {
    transform-origin: top center !important;
  }
  .mdl-menu__outline, .mdl-menu__container, ul{
    width: 100% !important;
  }

  button {
    position: relative;
    border: none;
    background-color: inherit;
    text-align: initial;
    outline: none;

    &:hover {
      background-color: #e0e0e0;
      color: #757575;
    }
  }
}

.right-panel {
  .group-display {
    float: right;
    margin: 10px;

    i {
      float: left;
    }
    span {
      float: left;
      line-height: 24px;
      font-size: 125%;
    }
  }
}

.group-select-container {
  padding: 10px;
}

#public:checked~.radio-icon-container .public,
#private:checked~.radio-icon-container .private {
  color: $color-primary;
}

#group-dialog-container~input[type="radio"] {
  display: none;
}
